@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Roboto", sans-serif;
}

body {
  margin-left: 80px;
  margin-top: 80px;
  transition: all 300ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
}
header {
  background-color: #5f5f5f;
  width: 100%;
  height: 60px;
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 200;
}

.icon_menu {
  background-color: #3d5ee1;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: translate(10px);
  border-radius: 10px;
  cursor: pointer;
}
.icon_menu i {
  color: #fff;
  font-size: 20px;
  position: absolute;
}

.menu_side {
  background-color: #5f5f5f;
  width: 80px;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  font-size: 24px;
  z-index: 300;
  /*  */
  overflow: hidden;
  border-right: 18px solid #5f5f5f;
  /* thanh cuon */
  overflow-y: scroll;
  transition: all 300ms cubic-bezier(0.785, 0.135, 0.15, 0.86);
}
/* bo thanh cuon */
.menu_side::-webkit-scrollbar {
  display: none;
}
.menu.menu_side {
  -ms-overflow-style: none;
  scrollbar-width: none;
}
/*  */
.name_page {
  padding: 5px 26px;
  display: flex;
  align-items: center;
  margin-top: 10px;
}
.name_page i {
  margin-right: 20px;
}

.menu_options {
  margin: 10px 30px;
  position: absolute;
  top: 80px;
}
.menu_options .sub_btn {
  /* padding: 0px 17px; */
  color: white;
  display: inline-block;
  position: relative;
  cursor: pointer;
  /* background-color: red; */
  /* border-radius: 10px; */
}
.menu_options .sub_btn:hover {
  color: #3d5ee1;
}
.menu_options .option {
  padding: 20px 0px;
  display: flex;
  position: relative;
  align-items: center;
}
.menu_options .option i {
  margin-right: 15px;
  width: 20px;
  cursor: pointer;
}
.menu_options .option h4 {
  font-size: 17px;
  font-weight: 300; /*độ đậm nét chữ */
}
/* list */
.list a .dropdown {
  position: absolute;
  right: -50px;
  font-size: 20px;
  margin: 10px;
}
nav ul {
  list-style: none;
}
/*  */
ul ul {
  position: static;
  /* display: none; */
}
ul .sub_menu.show {
  display: block;
}

/* nav ul li a span{
    transition: transform 0.4s;
}
nav ul li a span.rotate{
    transform: translateY(-50%) rotate(-180deg);
  }
/*  */
.sub_menu .sub_item {
  font-size: 16px;
  margin-left: 33px;
  color: #fff;

  line-height: 60px;
  display: block;
  padding: 0px 10px;
  border-radius: 15px;
}
*/ .sub_menu .sub_item:hover {
  background-color: #3d5ee1;
  /* border-radius: 10px; */
}

.sub_menu.show {
  display: block;
}

.menu_options ul a {
  pointer-events: none;
}

/* js */
/* a.selected
{
    color: #3D5EE1;
}
a.selected:before
{
    content: '';
    background-color: #3D5EE1;
    width: 7px;
    height: 80%;
    position: absolute;
    top: 10%;
    left: -38%;
    border-radius: 0px 20px 20px 0px;
} */

/* list active */
.body_active {
  margin-left: 250px;
}
.menu_side_active {
  width: 250px;
}

.sub_menu {
  display: none;
}

.sub_menu.show {
  display: block;
}

/* reponsive */
@media screen and (max-width: 760px) {
  .body_active {
    margin-left: 0px;
  }
  .menu_side_active {
    width: 80px;
    left: -80px;
  }
}

.optionn1 * {
  pointer-events: none;
}
